* {
    padding: 0%;
    margin: 0%;
}
body {
    background: linear-gradient(120deg, #ceced0e6, #E8F7FB);
}

.container {
    margin: 0 auto;
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    cursor: pointer;

}

h1 {
    text-align: center;
    font-size: 2rem;
}
.box {
    width: 70px;
    height: 70px;
    background-color: #fff;
    font-size: 2.5rem;
    text-align: center;
    background: #e9b380db;
    transition: 0.4s;
}

.box:hover {
    background-color: #fff;
    color: #2d2c2c;

}

.black {
    background-color: #905438f4;
}

.black:hover {
    background: #00000087;
}

.white {
    color: #fff;
}

@media (max-width:550px) {
    .container {
        width: 400px;
        height: 400px;
        
    }
    h1{
        font-size:1.2rem
    }
    .box {
        width: 50px;
        height: 50px;
        font-size:1.3rem;
    
    }

}
